.header-component {
    width: calc(100% - 40px);
    background: linear-gradient(
            120deg,
            rgba(245, 245, 245, 0.9),
            rgba(225, 225, 225, 0.9),
            rgba(245, 245, 245, 0.9),
            rgba(245, 245, 245, 0.9),
            rgba(245, 245, 245, 0.9),
            rgba(186, 245, 35, 0.09),
            rgba(148, 62, 204, 0.11),
            rgba(245, 235, 35, 0.13)
    );
    backdrop-filter: blur(20px); /* Bulanıklık efekti */
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px 10px 0 0;
    padding: 10px 20px 0 20px;
}

.header-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    color: #333333;
}

.header-nav > * {
    padding-right: 10px;
}

.header-body {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-body-left {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 23px;
    width: 100%;
}

.header-body-title {
    margin-left: 10px;
}

.header-left-modal {
    position: relative;
}

.header-dots-active-modal {
    position: absolute;
    top: 25px;
    left: 10px;
    width: 200px;
    height: auto; /* Yüksekliği otomatik yaparak içeriği kapsayacak şekilde ayarlayın */
    background: rgba(255, 255, 255, 0.3); /* Yarı saydam beyaz arka plan */
    backdrop-filter: blur(10px); /* Arka planda bulanıklaştırma efekti */
    font-size: 15px;
    border-radius: 10px; /* Köşe yuvarlama */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
    padding: 10px; /* İçeriğe biraz boşluk ekleyin */
}

.header-dots-active-modal-item {
    padding: 10px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-dots-active-modal-item > .icon {
    padding-right: 5px;
}

.header-body-right {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header-input-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding: 3px;
}

.header-input-container:first-child {
    font-size: 20px;
}

.header-input {
    border: none;
    width: 95%;
    background: none;
    outline: none;
    color: #6c6c6c;
}

.header-search-container {
    width: 100%;
    background: #ffffff;
    padding: 5px;
    z-index: 1;
    max-height: 400px;
    box-shadow: 0 10px 10px #ddd;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header-search-container::-webkit-scrollbar {
    display: none;
}

.header-search-container-item {
    color: #333333;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #cccccc;
    width: 95%;
    margin: 10px auto;
    border-radius: 20px;
    padding: 10px;
}

.header-search-container-item-desc-container {
    padding-left: 10px;
}

.header-search-title {
    font-size: 18px;
    font-weight: bold;
}

.header-search-description {
    font-size: 14px;
    color: #888888;
}

.header-footer {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-footer-item {
    text-align: center;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 15px 15px 0 0;
    margin: -2px;
}

.header-footer-item.active {
    background: #ffffff;
}